html, body { line-height: 1.3; background: #e9efff; margin: 0; padding: 0; }
html, body, form textarea { font-family: Arial, sans-serif; }
html, body, form * { font-size: 10pt;}
form input[type=submit] { font-weight: bold; }

#header,
#footer { float: left; width: 100%; display: block; background: #c9cfff; color: black; padding: 2px 0; }
#header { margin-bottom: 2em; }
#footer { margin-top: 2em; clear: both; }
#company { float: right; font-weight: bold; font-size: 120%; }

#content { clear: left; margin: 1em; }

.navigation { display: block; padding: 0; margin: 0; }
.navigation li { border-left: 1px solid black; display: block; float: left; }
.navigation li a { padding: 0 .5em; }
.navigation li:first-child { border-left-width: 0; }

.filters { padding-top: 2em; margin: 1em 0 2em 0; }

#messages { background: white; border: 2px ridge blue; margin: 1em auto; width: 67%; padding: 0 .5em; }
#warning  { font-weight: bold; color: #f30; }
#message  { }
#notice   { color: #666; }
#messages p { display: list-item; list-style-type: square; margin-left: 2em; }

.list { border: 3px solid #c9cfff; empty-cells: show; border-collapse: collapse; clear: left; }
.list .error { font-size: 110%; background: red; color: black; font-weight: bold; }
.list thead th { text-align: left; }
.list th, .list td { padding: 0 2px; }
.list .money,
.list .date { text-align: right; }
.list .description { margin: 0; }
.list thead tr th, .list thead tr td,
.list tbody tr th, .list tbody tr td { border-bottom: 1px solid #c9cfff; padding: .0625em .25em .125em 0; }
.list thead tr th, .list thead tr td { border-bottom-width: 2px; }
.list caption { font-size: 1.2em; font-weight: bold; color: #393fcf; text-align: left; }
.list tfoot { background: #c9cfff; }
.list tbody tr:hover { background: #dce5ff; }

a { color: blue; }
a:visited { color: purple; }
a:hover { color: blue; background: white; }

form { width: 40em; }
form fieldset { border: none; margin: 1em 0; padding: 0; }
form fieldset .row { display: block; clear: left; margin: .25em 0; }
form fieldset .row label { float: left; text-align: right; width: 12em; padding-right: 1em; font-weight: bold; }
form .actions { margin: 1em 0; padding: .25em; text-align: right; }

div.auto_complete {
  width: 350px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
}
div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}

span.money .symbol { display: none; }

.report { clear: both; display: block; margin: 1em 0; }
.report > h3 { margin-top: 1em; margin-bottom: 2em; font-size: .9em; }
.report .section h3 { margin: 1em 0 .25em 0; }
.report .section { margin: 2em 0; }
.report .account, .report .subtotal, .report .total { display: block; clear: left; }
.report .total { padding-top: .0625in; font-weight: bold; font-size: 1.1em; }
.report .title { display: block; float: left; width: 2.5in; text-align: left; }
.report .amount { display: block; float: left; width: 1in; text-align: right; }
.report .total .amount { border-top: 1px solid black; border-bottom: 3px double black; }
.report .subtotal .amount { margin-left: 2.5in; border-top: 1px solid black; font-weight: bold; }
.report .loss { color: red; }
.report .section .account,
.report .section .total { padding-left: .125in; }
.report .section .title { width: 2.375in; }
.report .outer .title { width: 3.5in; }

.journal { display: block; }
.journal .transaction { display: block; page-break-inside: avoid; margin: 2em 0; }
.journal .date { display: block; width: 5em; text-align: right; }
.journal .lines { display: table-row-group; }
.journal .account { display: table-row; }
.journal .title { display: table-cell; width: 20em; }
.journal .amount { display: table-cell; width: 9em; text-align: right; }
.journal .debit .amount { padding-right: 5em; }
.journal .credit .title { padding-left: 1em; }
.journal .description { clear: left; }
.journal .description p { margin: .33em 1em; font-size: .8em; }

#bilan { float: right; font-size: .8em; background: #f5f8ff; padding: .25em; border: #c9cfff double 3px; }
#transactions { clear: none; margin-right: 35em; }
