html, body { line-height: 1.3; background: #e9efff; margin: 0; padding: 0; }
html, body, form textarea { font-family: Arial, sans-serif; }
html, body, form * { font-size: 10pt;}
form input[type=submit] { font-weight: bold; }

#header,
#footer { float: left; width: 100%; display: block; background: #c9cfff; color: black; padding: 2px 0; }
#header { margin-bottom: 2em; }
#footer { margin-top: 2em; clear: both; }
#company { float: right; font-weight: bold; font-size: 120%; }

#content { clear: left; margin: 1em; }

.navigation { display: block; padding: 0; margin: 0; }
.navigation li { border-left: 1px solid black; display: block; float: left; }
.navigation li a { padding: 0 .5em; }
.navigation li:first-child { border-left-width: 0; }

#messages { background: white; border: 2px ridge blue; margin: 1em auto; width: 67%; padding: 0 .5em; }
#warning  { font-weight: bold; color: #f30; }
#message  { }
#notice   { color: #666; }
#messages p { display: list-item; list-style-type: square; margin-left: 2em; }

.list { border: 3px solid #c9cfff; empty-cells: show; border-collapse: collapse; }
.list thead th { text-align: left; }
.list th, .list td { padding: 0 2px; }
.list .money,
.list .date { text-align: right; }
.list thead tr th, .list thead tr td,
.list tbody tr th, .list tbody tr td { border-bottom: 1px solid #c9cfff; }
.list thead tr th, .list thead tr td { border-bottom-width: 2px; }
.list caption { font-size: 1.2em; font-weight: bold; color: #393fcf; text-align: left; }
.list tfoot { background: #c9cfff; }

a { color: blue; }
a:visited { color: purple; }
a:hover { color: blue; background: white; }

form { width: 40em; }
form fieldset { border: none; margin: 1em 0; padding: 0; }
form fieldset .row { display: block; clear: left; margin: .25em 0; }
form fieldset .row label { float: left; text-align: right; width: 12em; padding-right: 1em; font-weight: bold; }
form .actions { margin: 1em 0; padding: .25em; text-align: right; }

div.auto_complete {
  width: 350px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
}
div.auto_complete ul strong.highlight {
  color: #800;
  margin:0;
  padding:0;
}

span.money .symbol { display: none; }
