.navigation, .filters { display: none; }
a, a:visited, a:hover { text-decoration: none; color: black; }
input, select, textarea { border: none; }
form .actions { display: none; }

@page { margin: .5in; }

#cutoff-date { display: block; }
#quicktxn { display: none; }

.list { page-break-before: avoid; }
.list, .list table { font-size: 1em; page-break-inside: avoid; }
.list th, .list td { padding: 0 .4em !important; }
