development:
  adapter: mysql
  database: acctsoft_development
  username:
  password:
  host: localhost
  port: 3306
  encoding: utf8
  
test:
  adapter: mysql
  database: acctsoft_test
  username:
  password:
  host: localhost
  port: 3306
  encoding: utf8

production:
  adapter: mysql
  database: acctsoft_production
  username:
  password: 
  host: localhost
  port: 3306
  encoding: utf8
