<tr>
  <td class="date"><%= link_to(format_date(reconciliation.statement_on), reconciliation_edit_url(:id => reconciliation.id)) %></td>
  <td><%= link_to_account(reconciliation.account) %></td>
  <td class="money"><%= format_money(reconciliation.amount_ct) %></td>
  <td class="money"><%= format_money(reconciliation.amount_dt) %></td>
  <td><%= reconciliation_list_label(reconciliation) %></td>
</tr>
