<% @title = 'Conciliations' -%>
<div class="filters">
  <%= link_to 'Nouvelle conciliation', reconciliation_new_url %>
</div>
<div class="pager">
  <%= will_paginate @reconciliations %>
</div>
<table class="list" cellspacing="0" cellpadding="0">
  <caption>Liste des conciliations</caption>
  <thead id="list-head">
    <tr>
      <th class="date">Date</th>
      <th>Compte</th>
      <th class="amount">Crédits</th>
      <th class="amount">Débits</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody id="list-body">
<%= render :partial => 'reconciliation', :collection => @reconciliations %>
  </tbody>
</table>
<div class="pager">
  <%= will_paginate @reconciliations %>
</div>
