<% @title = 'Gestion des paiements' -%>
<div class="filters">
  <%= link_to 'Nouveau paiement', :action => 'new' %>
</div>
<table class="list" cellspacing="0" cellpadding="0">
  <caption>Liste des paiements</caption>
  <col width="*1"/><col/><col width="*1"/><col width="*2"/>
  <thead id="list-head">
    <tr>
      <th class="date">Date reçu</th>
      <th>Client</th>
      <th class="money">Montant</th>
      <th>Tâches</th>
    </tr>
  </thead>
  <tbody id="list-body">
<%= render :partial => 'payment', :collection => @payments %>
  </tbody>
</table>
