<span class="account <%= line.amount_ct.zero? ? 'debit' : 'credit' %>">
  <span class="title"><%= link_to(line.name, account_edit_url(:account => line.account)) %></span>
  <span class="amount"><%= format_money(line.amount_ct.zero? ? line.amount_dt : line.amount_ct) %></span>
</span>
