<tr>
  <td><%= link_to(format_date(transaction.posted_on), transaction_edit_url(:txn_id => transaction)) %></td>
  <td><%= link_to(transaction.description, transaction_edit_url(:txn_id => transaction)) %></td>
  <td class="money"><%= format_money(transaction.volume) %></td>
</tr>
