<% @title = 'Journal Général' %>
<div class="filters">
  <%= link_to 'Ajouter une transaction', transaction_new_url %>
</div>
<%= render :partial => 'list', :object => @transactions %>
<%= pagination_links @transaction_pages, :always_show_anchors => true, :window_size => 4 %>
