<% unless skip_empty and (account.total_dt_volume(@cutoff_date) - account.total_ct_volume(@cutoff_date)).zero? then -%>
<span class="account">
  <span class="title"><%= link_to(account.name, account_edit_url(:account_no => account.no)) %></span>
  <span class="amount"><%= format_money(account.normally_debitor? ? (account.total_dt_volume(@cutoff_date) - account.total_ct_volume(@cutoff_date)) : (account.total_ct_volume(@cutoff_date) - account.total_dt_volume(@cutoff_date))) %></span>
</span>
<% end -%>
