<ul id="subnav" class="navigation">
  <li><%= link_to 'Balance de vérification', :action => 'balance_verification' %></li>
  <li><%= link_to 'État des résultats', :action => 'etat_resultats' %></li>
  <li><%= link_to 'État de l\'avoir du propriétaire', :action => 'avoir_proprietaire' %></li>
  <li><%= link_to 'Bilan', :action => 'bilan' %></li>
</ul>
