<% @title = 'Journal général' -%>
<style type="text/css">
.list { width: 100%; }
</style>

<%= render :partial => 'menu' %>
<%= render :partial => 'cutoff_date' %>
<% for @account in @accounts do -%>
<div class="section">
  <%= render_component(:controller => 'accounts', :action => 'txn_list',
      :params => {:account_no => @account.no, :cutoff_date => @cutoff_date}) %>
</div>
<% end -%>
