<tr id="new-row">
  <td><%= text_field :account, :no, :size => 6 %></td>
  <td><%= text_field :account, :name, :style => 'width: 100%;' %></td>
  <td>
    <%= collection_select :account, :type_id, AccountType.for_select, :id, :name %>
    <%= submit_to_remote 'commit', 'Enregistrer', :url => {:action => :create},
            :submit => 'new-row' %>
    <%= link_to_function 'Abandonner', visual_effect(:fade, 'new-row') + visual_effect(:appear, 'new-link') %>
  </td>
</tr>
