<% @title = 'Modifier un Compte' %>
<% form_tag(url_for(:action => :update, :id => @account.id), :id => "account") %>
  <%= render :partial => 'form' %>
<% end %>

<%= render_component(:action => 'txn_list', :params => {:account_no => @account.no, :force => true}) %>
