<% @title = 'Modifier un Compte' %>
<%= start_form_tag({:action => :update, :id => @account.id}, {:id => 'accnt'}) %>
  <%= render :partial => 'form' %>
<%= end_form_tag %>

<%= render_component(:action => 'txn_list', :params => {:account => @account.no, :force => true}) %>
